body{

    font-family: 'Gruppo', cursive;
    filter: grayscale(100%);
}

.jumbotron{
    text-align: center;
    font-weight: bolder;
}

#footer{

    text-align: center;
    text-decoration: none;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
  }

 a:hover{
    color: black;
}

